@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #0d0f12;
  color: #fff;
  overflow: hidden;
}
#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#right {
  flex: 1;
}

/* sign-in */
.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}
.sign-in .logo {
  margin-bottom: 8vh;
}
.sign-in .logo img {
  /* width: 300px; */
}
.sign-in form {
  width: 80%;
  padding-bottom: 3rem;
}
.sign-in label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

.sign-in .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #0d0f12;
  border: 1px solid #555;
  color: hsla(0, 0%, 100%, 0.95);
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}
.primary-btn {
  width: 100%;
  color: hsla(0, 0%, 100%, 0.95);
  background: #0074ab;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;

  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.primary-btn:hover {
  background-color: #489fc7;
}

.sign-in .secondary-btn,
.or,
.links {
  width: 80%;
}
.sign-in .secondary-btn {
  width: 80%;
  margin: auto;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  /* border: 1px solid #f4f4f4; */
  border-radius: 2px;
  font-weight: 700;
  background: rgba(138, 153, 168, 0.25);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.sign-in .links a {
  display: block;
  text-decoration: none;
  color: #2ea0d6;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.sign-in .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}
.sign-in .or .bar {
  width: 100%;
  border: none;
  height: 1px;
  background: #aaa;
}
/* footer */

.main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 2rem;
}

.main-footer a {
    color: #ccc;
    text-decoration: underline;
  }

/* show */

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/images/login-background.png") no-repeat center center /
    cover;
  height: 100vh;
  text-align: center;
}
.show .secondary-btn {
  width: 20%;
  margin: auto;
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  /* border: 1px solid #f4f4f4; */
  border-radius: 2px;
  font-weight: 700;
  background: #ff1675;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
.show-content img {
  width: 50%;
}
.show-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* media queries */
@media (min-width: 1200px) {
  #left {
    flex: 4;
  }
  #right {
    flex: 6;
  }
}

@media (max-width: 760px){
    body{
        overflow: auto;
    }

    #right{
        display: none;
    }
    #left{
        justify-content: start;
        margin-top: 4vh;
    }
    .sign-in .logo {
        margin-bottom: 2vh;
      }
      .sign-in .text-input {
        margin-bottom: 0.7rem;
      }
      .primary-btn{
        margin-top: 1vh;
      }
      .main-footer{
        padding-top: 1rem;
      }
}